@import url('https://fonts.googleapis.com/css?family=Roboto');
.App {
  width: 100vw;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.08em;
}
.main {
  padding-top: 30px;
}
/*Header Component*/
.Header {
  background: #e7e4da;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0px 16px;
}
.Header_img {
  padding: 20px;
}
.Header_nav {
  list-style: none;
  text-transform: uppercase;
  display: flex;
}
.Header_nav-link {
  border-right: 2px solid white;
  padding: 4px 12px;
}
.Header_nav-link:last-child {
  border: none;
}
.Link {
  text-decoration: none;
  color: black;
}
.Link:hover {
  color: white;
}
/*BooksList Component*/
.table__thead {
  background: #cccccc;
  text-transform: uppercase;
}
.table__td {
  padding: 22px 16px;
}
.table tr:nth-child(even) td{
  background: #cccccc;
}
.table tr:nth-child(odd) td{
  background: #f6f6f6;
}